.header {
    margin: 17px 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include breakpoint($mobile-br) {
        justify-content: center;
        flex-direction: column;

    }
}

.header__logo-svg {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;

    @include breakpoint($mobile-br) {
        margin-bottom: 15px;
    }
}

//бургер

.header__nav {
    transition: all .3s;

    @include breakpoint($tablet-bp) {

        display: none;
        width: 90%;
        margin: 0;
        padding: 8px 20px;

        position: absolute;
        top: 103%;
        left: 50%;
        background-color: $oren-100;
        transform: translate(-50%, 0);
    }
}

//fixed

.fixed {

    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 10px 0;

    background-color: $oren-100;
    position: fixed;
    top: -20px;
    z-index: 10000;

}

.header__nav.active {
    width: 95%;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.header__nav-link {
    margin-right: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    color: $black-200;
    transition: all .3s;

    &:last-child {
        margin-right: 0px;
    }

    &:active {
        text-shadow: $ts;
    }

    @include breakpoint($tablet-195) {
        margin-right: 22px;
    }

    @include breakpoint($tablet-bp) {
        margin: 0 5px 10px 5px 0;
        text-align: center;
    }
}

.header__phone {
    position: relative;

    @include breakpoint($tablet-bp) {
        margin-right: 70px;

    }

    @include breakpoint($mobile-br) {
        margin-right: 0;
    }
}

.header__phone-img {
    position: absolute;
    top: 3px;
    left: -25px;

}

.header-phone__spoller {
    overflow: visible;
    list-style: none;
    text-align: right;

    @include breakpoint($mobile-br) {
        text-align: center;

    }

}

.header-phone__number {
    display: block;
    white-space: nowrap;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;


    color: $black-200;

    &:hover {
        text-shadow: none;
    }
}

.header-phone__arrow {
    display: inline block;
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    position: absolute;
    top: 5px;
    right: -15px;
    z-index: 1000;

    transition: all .3s;
}

.header-phone__arrow.active {
    transform: rotate(180deg);
}

.header-body__btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: double;
    cursor: pointer;


    border: 0;
    border-bottom: 1px dashed $black-200;
    background: 0;
    margin: 0;
    padding: 0;

    color: $black-200;
}

.header-phone__list {

    list-style: none;
    padding: 5px;


    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);


    z-index: 1000000;
    position: absolute;
    top: 60px;
}