<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__item">
                    <h1 class="footer__item-title">О нас</h1>
                    <a href="" class="footer__item-link">Новости</a>
                    <a href="" class="footer__item-link">Статьи</a>
                    <a href="" class="footer__item-link">Сертификаты</a>
                    <a href="" class="footer__item-link">Объекты</a>
                    <a href="" class="footer__item-link">Склад</a>
                </div>

                <div class="footer__item">
                    <h1 class="footer__item-title">Каталог</h1>
                    <a href="" class="footer__item-link">Прайсы</a>
                    <a href="" class="footer__item-link">Акции</a>
                </div>

                <div class="footer__item">
                    <h1 class="footer__item-title">Контакты</h1>
                </div>
            </div>

            <div class="footer__right">
                <form class="footer__right-form" action="/" method="post">
                    <input class="footer__right-input" type="text" name="name" placeholder="Поиск ">
                    <img class="footer__right-img" src="assets/img/footer/4.svg" alt="">
                </form>
                <div class="footer__right-block">
                    <div class="footer__right-one">

                        <a class="footer__right-link" href="mailto:hello@stkrost.ru">
                            <img class="footer__right-mail" src="assets/img/footer/3.svg" alt="mail">
                            hello@stkrost.ru
                        </a>

                        <p class="footer__right-text">
                            <img class="footer__right-city" src="assets/img/footer/1.svg" alt="phone">
                            г. Челябинск
                        </p>
                    </div>

                    <div class="footer__right-two">
                        <a class="footer__right-numb" href="tel:83517000771">
                            <img class="footer__right-phone" src="assets/img/footer/2.svg" alt="phone">
                            +7 (351) 700-07-71
                        </a>

                        <button class="btn btn--oren" type="button" data-bs-toggle="modal"
                            data-bs-target="#popupapp3">Обратный звонок
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            <div class="footer__copyright-block">
                <p class="footer__copyright-text">© 2020 Universe, Все права защищены</p>
                <img class="footer__copyright-logo" src="assets/img/copy/logo.webp" alt="logo">
                <div class=""></div>
            </div>
        </div>
    </div>
</footer>