<header class="header" id="header1">
    <div class="container">
        <div class="header__inner">
    <div class="header__logo">
        <img class="header__logo-svg" src="assets/img/header/logo.svg" alt="" data-scroll="#intro">
    </div>

    <nav class="header__nav" id="nav">
        <a class="header__nav-link" href="" data-scroll="#intro">О нас</a>
        <a class="header__nav-link" href="" data-scroll="#services">Услуги</a>
        <a class="header__nav-link" href="" data-scroll="#news">Новости</a>
        <a class="header__nav-link" href="">Акции</a>
        <a class="header__nav-link" href="" data-scroll="#slider">Документы</a>
        <a class="header__nav-link" href="">Отзывы</a>
        <a class="header__nav-link" href="" data-scroll="#footer">Контакты</a>
    </nav>

    <div class="header__phone">
        <img class="header__phone-img" src="assets/img/header/tel.svg" alt="">
        <ul class="header-phone__spoller">
            <li>
                <a class="header-phone__number" href="tel:83517778070">+7 (351) 777-80-70</a>
            </li>

            <button class="header-phone__arrow active" type="button">
                <img src="assets/img/header/arrow.webp" alt="">
            </button>

            <button class="header-body__btn" type="button" data-bs-toggle="modal" data-bs-target="#popupbell">Заказать
                звонок
            </button>


        <ul class="header-phone__list" style="display: none;">
            <li>
                <a class="header-phone__number" href="tel:83517778070">+7 (351) 777-80-70</a>
            </li>
            <li>
                <a class="header-phone__number" href="tel:83517778070">+7 (351) 777-80-70</a>
            </li>
            <li>
                <a class="header-phone__number" href="tel:83517778070">+7 (351) 777-80-70</a>
            </li>
        </ul>
    </ul>
    </div>
    <button class="nav__toggle" id="nav__toggl" type="button">
        <span class="nav-oggle__item"></span>
    </button>
</div>

</div>
</header>

